body {
  margin: 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  margin: 50px auto 0;
  font-size:312.5%;
  font-family: 'Itim', cursive;
  color:#66BFBF;
}

h2{
  color:#66BFBF;
  margin-top:40px;
  margin-bottom:0;
}

h3{
  color:#11999E;
}

.subtext{
  font-size:30px;
  font-weight:normal;
  line-height:2
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}


.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

p {
  font-family: 'Acme', sans-serif;
  font-size: x-large;
  color:#40415E;
}
.hacker{
  border-radius:50%;
  height:250px;
  width:250px;
}
.program{
  width:25%;
  float:left;
  margin:50px 30px 50px 0;

}
.movies{
  width:25%;
  float:right;
  margin:10px 0 10px 30px;
}
.click{
  height:50px;
  width:50px;

}
a{
  color:#11999E;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px;
  text-align:left;
  line-height:2;
}
.dots{
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
  border-color:#758184;
}
.bottom-container{
  background-color:#eaf6f6;
  padding-top:50px;
}
.copyright{
  font-size:20px;
  padding:20px 20px 30px;
  margin:0;
}
.footer-link{
  padding:0 20px 0 20px;
  text-decoration: none;
}
.button{
  background-color:#617be3;
  padding:20px;
  border-radius:50px;
  border-style: none;
  margin-bottom:20px;
  color:white;
  font-family: 'Permanent Marker', cursive;
  font-size:20px;
  box-shadow: 1px 5px 3px 0 #333366;
}
.btn{
  color:white;
  font-family: 'Permanent Marker', cursive;
  font-size:20px;
}
.button:hover{
  background-color:#4a69bb;
}

.click:hover{
  box-shadow: 1px 5px 5px 0 #333366;
}
